In [1]:
import selenium
from selenium import webdriver 
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions as EC 
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchAttributeException
import time
import numpy as np
import pandas as pd

In [2]:
# Openning chromedriver & stockbit
path_chrome = input('Enter path to webdriver Chrome')
driver = webdriver.Chrome(path_chrome)
driver.get('https://stockbit.com')
time.sleep(2)
driver.find_element_by_xpath('//*[@class="login-ldn"]').click()
path_file = input('Enter your path for file to save: ')

In [3]:
# Login
loginID = input('Enter your stockbit login id: ')
password = input('Enter your stockbit password')
login_box = driver.find_element_by_name('username')
login_box.send_keys(loginID)
pass_box = driver.find_element_by_name('password')
pass_box.send_keys(password)
pass_box.send_keys(Keys.ENTER)

In [5]:
# Select the company ticker
comp = 'HRUM'
driver.get('https://stockbit.com/#/symbol/'+ comp +'/financials')

In [7]:
# Choosing the currency, period, language of financial data
# # Select Period
period = 'ANNUALLY'
se2 = Select(driver.find_element_by_xpath('//*[@class=" statement-type input-medium"]'))
se2.select_by_value(period)
time.sleep(2)

# Select Currency
currency = 'usd'
se3 = Select(driver.find_element_by_xpath('//*[@class=" currency_val input-mini"]'))
se3.select_by_value(currency)
time.sleep(2)

# Select language
language = '1' # 1 for English
se4 = Select(driver.find_element_by_xpath('//*[@class=" transType input-mini"]'))
se4.select_by_value(language)
time.sleep(2)

In [ ]:
 Select Report (BS, IS, or CF)
se = Select(driver.find_element_by_xpath('//*[@class="reportType input-medium"]'))
se.select_by_value('bs')

# Getting header of table
header = driver.find_elements_by_xpath('//table[@class="display fin-table dataTable"]/thead/tr/th')
header_text = [col.text for col in header]

# Click all expand button
for j in range(10):
    i = 0
    while True:
        elements = driver.find_elements_by_xpath('//*/i[@class="icon-right-dir collapsed"]')
        if len(elements) > i:
            try:
                elements[i].click() # click on the i-th element in the list
                i += 1 # increment i
                time.sleep(0.5) # wait until list will be updated
            except ElementClickInterceptedException:
                i += 1
            except ElementNotInteractableException:
                i += 1
            continue
        break
    
# Getting table body
data1_bs = []
elements = driver.find_elements_by_xpath('//table[@class="display fin-table dataTable"]/tbody/tr/td')
for element in elements:
    if element.get_attribute('data-raw') != None:                                        #Taking numbers data
        if element.get_attribute('data-raw') != '-':
            data1_bs.append(element.get_attribute('data-raw'))
        else:
            data1_bs.append(None)
    else:                                                                                #Taking account name data
        if element.text != '':
            if 'Total' in element.text and 'Total' not in element.find_element_by_class_name('acc-name').get_attribute('title'):
                data1_bs.append('Total ' + element.find_element_by_class_name('acc-name').get_attribute('title'))
            else:
                try:
                    data1_bs.append(element.find_element_by_class_name('acc-name').get_attribute('title'))
                except NoSuchElementException:
                    data1_bs.append(element.text.strip())
        else:
            try:
                data1_bs.append(element.find_element_by_class_name('acc-name').get_attribute('title'))
            except NoSuchElementException:
                data1_bs.append('')

data2_bs = np.array(data1_bs)
data3_bs = data2_bs.reshape(int(len(data1_bs)/len(header_text)),len(header_text))



# Select Report (BS, IS, or CF)
se = Select(driver.find_element_by_xpath('//*[@class="reportType input-medium"]'))
se.select_by_value('is')
time.sleep(2)

# Click all expand button
for j in range (10):
    i = 0
    while True:
        elements = driver.find_elements_by_xpath('//*/i[@class="icon-right-dir collapsed"]')
        if len(elements) > i:
            try:
                elements[i].click() # click on the i-th element in the list
                i += 1 # increment i
                time.sleep(0.5) # wait until list will be updated
            except ElementClickInterceptedException:
                i += 1
            except ElementNotInteractableException:
                i += 1
            continue
        break


#Getting table body
data1_ist = []
elements = driver.find_elements_by_xpath('//table[@class="display fin-table dataTable"]/tbody/tr/td')
for element in elements:
    if element.get_attribute('data-raw') != None:                                        #Taking numbers data
        if element.get_attribute('data-raw') != '-':
            data1_ist.append(element.get_attribute('data-raw'))
        else:
            data1_ist.append(None)
    else:                                                                                #Taking account name data
        if element.text != '':
            if 'Total' in element.text and 'Total' not in element.find_element_by_class_name('acc-name').get_attribute('title'):
                data1_ist.append('Total ' + element.find_element_by_class_name('acc-name').get_attribute('title'))
            else:
                try:
                    data1_ist.append(element.find_element_by_class_name('acc-name').get_attribute('title'))
                except NoSuchElementException:
                    data1_ist.append(element.text.strip())
        else:
            try:
                data1_ist.append(element.find_element_by_class_name('acc-name').get_attribute('title'))
            except NoSuchElementException:
                data1_ist.append('')

data2_ist = np.array(data1_ist)
data3_ist = data2_ist.reshape(int(len(data1_ist)/len(header_text)),len(header_text))



# Select Report (BS, IS, or CF)
se = Select(driver.find_element_by_xpath('//*[@class="reportType input-medium"]'))
se.select_by_value('cf')
time.sleep(2)


# Click all expand button
for j in range(10):
    i = 0
    while True:
        elements = driver.find_elements_by_xpath('//*/i[@class="icon-right-dir collapsed"]')
        if len(elements) > i:
            try:
                elements[i].click() # click on the i-th element in the list
                i += 1 # increment i
                time.sleep(0.5) # wait until list will be updated
            except ElementClickInterceptedException:
                i += 1
            except ElementNotInteractableException:
                i += 1
            continue
        break


#Getting table body
data1_cf = []
elements = driver.find_elements_by_xpath('//table[@class="display fin-table dataTable"]/tbody/tr/td')
for element in elements:
    if element.get_attribute('data-raw') != None:                                        #Taking numbers data
        if element.get_attribute('data-raw') != '-':
            data1_cf.append(element.get_attribute('data-raw'))
        else:
            data1_cf.append(None)
    else:                                                                                #Taking account name data
        if element.text != '':
            if 'Total' in element.text and 'Total' not in element.find_element_by_class_name('acc-name').get_attribute('title'):
                data1_cf.append('Total ' + element.find_element_by_class_name('acc-name').get_attribute('title'))
            else:
                try:
                    data1_cf.append(element.find_element_by_class_name('acc-name').get_attribute('title'))
                except NoSuchElementException:
                    data1_cf.append(element.text.strip())
        else:
            try:
                data1_cf.append(element.find_element_by_class_name('acc-name').get_attribute('title'))
            except NoSuchElementException:
                data1_cf.append('')

data2_cf = np.array(data1_cf)
data3_cf = data2_cf.reshape(int(len(data1_cf)/len(header_text)),len(header_text))

In [8]:
bs = pd.DataFrame(data3_bs,columns=header_text)
ist = pd.DataFrame(data3_ist,columns=header_text)
cf = pd.DataFrame(data3_cf,columns=header_text)

In [11]:
ist.head()

,In Million USD,12M 2020,12M 2019,12M 2018,12M 2017,12M 2016,12M 2015,12M 2014,12M 2013,12M 2012,12M 2011,12M 2010,12M 2009
0,Total Revenue,157819047,262590669,336707790,325599861,217121593,249328849,477643910,837079750,1043301146,804657146,498990324,489655106
1,Total Cost Of Goods Sold,-114581950,-195061514,-235228423,-213713213,-149133192,-203488721,-390742079,-661509141,-724315930,-476667402,-323630964,-312581277
2,Gross Profit,43237097,67529155,101479367,111886648,67988401,45840128,86901831,175570609,318985216,327989744,175359359,177073830
3,Total Operating Expense,-37085728,-43764495,-50439748,-39803437,-35727619,-45265864,-65849204,-106811549,-107491635,-83270732,-48259370,-47048617
4,Selling Expense,-9597231,-14949715,-21590121,-18722532,-15961028,-22921470,-42154541,-80179803,-85472130,-56585355,-35666889,-36278298

In [12]:
# Function to change number from strings format to integer
def change_to_num_mill(x):
    if x not in ('',None,np.nan):
        try:
            return int(float(x))/1000000
        except ValueError:
            return x/1000000
    else :
        return np.nan

In [13]:
# Apply change format function to the dataframe
for col in header_text[1:]:
    bs[col] = bs[col].apply(lambda x: change_to_num_mill(x)).round(0)
    ist[col] = ist[col].apply(lambda x: change_to_num_mill(x)).round(0)
    cf[col] = cf[col].apply(lambda x: change_to_num_mill(x)).round(0)

In [14]:
bs.head()

,In Million USD,12M 2020,12M 2019,12M 2018,12M 2017,12M 2016,12M 2015,12M 2014,12M 2013,12M 2012,12M 2011,12M 2010,12M 2009
0,Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Current Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cash And Cash Equivalents,211.0,227.0,216.0,266.0,231.0,196.0,201.0,181.0,162.0,183.0,115.0,62.0
3,Trade Receivables,9.0,23.0,35.0,26.0,24.0,10.0,32.0,52.0,67.0,63.0,52.0,31.0
4,- Third Parties,3.0,7.0,6.0,20.0,21.0,2.0,7.0,8.0,7.0,4.0,20.0,13.0

In [15]:
with pd.ExcelWriter(path_file + comp + '.xlsx') as writer:
    bs.to_excel(writer, sheet_name='Balance Sheet',index=False)
    ist.to_excel(writer, sheet_name='Income Statement',index=False)
    cf.to_excel(writer, sheet_name='Cash Flow',index=False)